.form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 70px;
  background: #202020;
  max-width: 396px;
  position: relative;
}

.form__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  margin: 40px 0 20px 0;
}

.form__subtitle {
  padding: 0;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #8B8B8B;
  margin: 20px 0 0 0;
}

.form__container {
  position: relative;
}

.form__input {
  background: #2F2F2F;
  border-radius: 8px;
  outline: none;
  border: none;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  margin: 10px 0 0 0;
  color: #FFFFFF;
  padding: 15px;
  width: 366px;
}

.form__input:nth-of-type(2) {
  font-weight: 500;
}

.form__button {
  margin: 91px 0 0 0;
  cursor: pointer;
  border: none;
  background: #4285F4;
  border-radius: 3px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #FFFFFF;
  min-height: 45px;
}

.form__button:disabled {
  background-color: #F8F8F8;
  color: #C2C2C2;
  cursor: auto;
}

.form__comment {
  margin: 16px 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #8B8B8B;
}

.form__link {
  color: #4285F4;
  text-decoration: none;
}

.form__input-error {
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  color: #EE3465;
  position: absolute;
  top: 88px;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
          line-clamp: 2;
  -webkit-box-orient: vertical;
}

.form__server-error {
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  text-align: center;
  color: #FF004C;
  position: absolute;
  bottom: 110px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

@media screen and (max-width: 770px) {
  .form {
    padding-top: 232px;
  }
}

@media screen and (max-width: 457px) {
  .form {
    padding-top: 56px;
    max-width: 260px;
  }

  .form__logo {
    display: flex;
    justify-content: center;
  }

  .form__input {
    width: 230px;
  }

  .form__title {
    font-weight: 500;
    margin: 50px 0 60px 0;
    text-align: center;
  }

  .form__button {
    margin-top: 179px;
    font-size: 12px;
    line-height: 15px;
  }

  .form__comment {
    margin: 14px 0 30px 0;
    font-size: 12px;
    line-height: 15px;
  }

  .form__server-error {
    bottom: 120px;
  }

}